<div class="row">
  <div class="slide header" id="title">
    <form name="omni-search" ng-submit="base.search(searchParams)">
      <div class="form-group input-group inner" page-scroll  nvabar-searchbox-id="navSearchId">
      <h1>Safe Food Search Recalls</h1>
      <div style="clear:both;"></div>
        <input  type="text" class="form-control"  id="generalSearch" ng-model="searchParams.generalSearch"  placeholder="example: Spinach MI">
        <sapn class="input-group-btn btn-top">
          <button class="btn btn-default" type="button" ng-click="base.search(searchParams)">
            <span class="glyphicon glyphicon-search"></span>
          </button>
          </sapn>
      </div>
    </form>
  </div>
</div>
<div class="container">
  <div>
    <h2>Food Recalls and Enforcement Reports</h2>
    <p>
    Recalls are an appropriate alternative method for removing or correcting marketed consumer products, their labeling, and/or promotional literature that violate the laws administered by the Food and Drug Administration (FDA). Recalls afford equal consumer protection but generally are more efficient and timely than formal administrative or civil actions, especially when the product has been widely distributed.
    </p>
    <p>
    Manufacturers and/or distributors may initiate a recall at any time to fulfill their responsibility to protect the public health from products that present a risk of injury or gross deception, or are otherwise defective. Firms may also initiate a recall following notification of a problem by FDA or a state agency, in response to a formal request by FDA, or as ordered by FDA.
    </p>
  </div>
  <div class="row">
    <section class="col-sm-8 col-xs-12">

      <h2>Safe Food - Recall Data</h2>
      <p>The Food Recalls on this site are based on the Enforcement Reports published via the OpenFDA API</p>

      <p>For more information about OpenFDA </p>
      <ul>
        <li><a href="https://open.fda.gov/index.html">OpenFDA</a></li>
        <li><a href="https://open.fda.gov/terms/">Terms</a></li>
        <li><a href="https://open.fda.gov/about/">About</a></li>
        <li><a href="https://open.fda.gov/about/">Food Enforcement Reports API</a></li>
      </ul>

      <p>For more information on the FDA's Food Enforcement Reports</p>
      <ul>
        <li><a href="http://www.fda.gov/Safety/Recalls/EnforcementReports/ucm181313.htm">Enforcement Report Definitions</a></li>
        <li><a href="http://www.fda.gov/Safety/Recalls/default.htm">Recalls press release</a></li>
        <li><a href="http://www.fda.gov/ForConsumers/ConsumerUpdates/ucm049070.htm">FDA 101: Product Recalls</a></li>
      </ul>

    </section>
    <section class="col-sm-4 col-xs-12">
      <h2>Recalls Near Me</h2>
      <center ng-switch="nearMeRequestStatus">
        <span ng-switch-when="5"></span>
        <div ng-switch-when="4" class="loading-spinner-relative">
          <i class="fa fa-spinner fa-spin fa-5x"></i>
          <p class="sr-only">Loading...</p>
        </div>
        <p ng-switch-when="1">
          Geolocation is disabled. Please try to refresh the page to enable geolocation or use the search feature.
        </p>
        <p ng-switch-when="0">Your browser does not support geolocation. Please update your browser to a newer version</p>
        <p ng-switch-default>
          Failed to retrieve data. Please
          <a ng-click="searchNearMe({ limit: 5 })">click here</a>
          to try again.
        </p>
      </center>
      <div class="list-group">
        <a ng-repeat="item in recallsNearMe.results track by $index"
          class="list-group-item"
          ng-click="viewDetails(item)"
          ng-class="{ 'active': item.active }">
          <h4 class="list-group-item-heading">{{item.recalling_firm}} ({{item.recall_initiation_date}})</h4>
          <div>{{item.reason_for_recall}}</div>
        </a>
      </div>
    </section>
  </div>
</div>