<nav class="navbar navbar-default navbar-fixed-top sf-header">
  <div class="container-fluid">
    <a href="#/"><img src="../../../assets/images/logo.jpg" class="logo pull-left"/></a>
    <form class="navbar-form navbar-left hideInput" role="search"  id="navSearchId">
      <div class="input-group">
        <input type="text" class="form-control" name="generalSearch" ng-model="searchParams.generalSearch"  placeholder="example: Spinach MI">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="searchDisclaimer(searchParams)">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </form>  
  </div>
</nav>