<!-- should be in a base container html but for now its here -->
<toast></toast>

<md-content>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1>Safe Food</h1>
      <span flex></span>
      <md-button ng-click="toggleSearch()">
        {{advancedSearch ? 'Basic Search' : 'Advanced Search'}}
      </md-button>
    </div>
  </md-toolbar>

  <form name="recall-search" layout-padding>
    <div ng-show="advancedSearch" layout="row" layout-wrap>
      <md-input-container flex="33" flex-sm="50">
        <label>City</label>
        <input name="city" ng-model="searchParams.city">
      </md-input-container>
      <md-input-container flex="33" flex-sm="50">
        <label>State</label>
        <input name="state" ng-model="searchParams.state">
      </md-input-container>
      <md-input-container flex="33" flex-sm="50">
        <label>Company Name</label>
        <input name="companyName" ng-model="searchParams.recalling_firm">
      </md-input-container>
      <md-input-container flex="33" flex-sm="50">
        <label>Recall Start Date</label>
        <input type="date" name="recallStartDate" ng-model="searchParams.recallStartDate">
      </md-input-container>
      <md-input-container flex="33" flex-sm="50">
        <label>Recall End Date</label>
        <input type="date" name="recallEndDate" ng-model="searchParams.recallEndDate">
      </md-input-container>
      <md-input-container flex="33" flex-sm="50">
        <label>Product Description</label>
        <input name="productType" ng-model="searchParams.product_description">
      </md-input-container>
    </div>

    <div ng-show="!advancedSearch" layout="row" layout-wrap>
      <md-input-container flex="100">
        <label>example: Spinach MI</label>
        <input name="generalSearch" ng-model="searchParams.generalSearch">
      </md-input-container>
    </div>

    <div class="md-action" layout="row" layout-align="end center">
      <md-button class="md-raised md-primary"
        ng-click="searchDisclaimer(searchParams)"
        aria-label="Search">
        Search
      </md-button>
    </div>
  </form>

  <md-divider></md-divider>

  <div ng-show="recallData" style="text-align:right">
    <div class="pull-left" style="margin:20px 10px; padding-top:6px; padding-bottom:6px;">Showing Results {{recallData.meta.results.skip + 1}} - {{(recallData.meta.results.skip + recallData.meta.results.limit + 1) > recallData.meta.results.total ? recallData.meta.results.total : (recallData.meta.results.skip + recallData.meta.results.limit + 1)}} of {{recallData.meta.results.total}}</div>
    <pagination total-items="recallData.meta.results.total" ng-model="searchParams.page" ng-change="search(searchParams)" items-per-page="recallData.meta.results.limit" max-size="5" style="padding-right:15px"></pagination>
  </div>
  <center ng-if="!recallData && initialized">
    <h4>Record(s) Not Found!</h4>
    <p>Your search did not return any results. Please modify your search criteria and try again!</p>
  </center>

  <section>
    <div class="list-group">
      <a ng-repeat="item in recallData.results track by $index" 
        class="list-group-item"
        ng-click="viewDetails(item)"
        ng-class="{ 'active': item.active }">
        <h4 class="list-group-item-heading">{{item.recalling_firm}} ({{item.recall_number}})</h4>
        <div><strong>Recall Initiated:</strong> {{item.recall_initiation_date}} ({{item.status}})</div>
        <div><strong>Distribution Pattern:</strong> {{item.distribution_pattern}}</div>
        <div><strong>Product Description:</strong> {{item.product_description}}</div>
      </a>
    </div>
  </section>

  <div ng-show="recallData" style="text-align: right">
    <pagination total-items="recallData.meta.results.total" ng-model="searchParams.page" items-per-page="recallData.meta.results.limit" max-size="5" style="padding-right:15px"></pagination>
  </div>

  <footer align="right" style="font-size:12px;padding-right:5px;">The openFDA beta research project contents were last updated on {{recallData.meta.last_updated | date:'MMMM dd, yyyy'}}</footer>
</md-content>