  <!--
    Move md-content and md-toolbar to main
  -->
<md-content>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1>Safe Food</h1>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="showDisclaimer()"
        aria-label="About Safe Food">
        <md-tooltip>
          About
        </md-tooltip>
        <md-icon class="fa fa-info-circle fa-2x">
        </md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <form name="recall-search" layout-padding>
    <div layout="row" layout-wrap>
      <md-input-container flex="33" flex-sm="50">
        <label>City</label>
        <input name="city" ng-model="searchParams.city">
      </md-input-container>
      <md-input-container flex="33" flex-sm="50">
        <label>State</label>
        <input name="state" ng-model="searchParams.state">
      </md-input-container>
      <md-input-container flex="33" flex-sm="50">
        <label>Company Name</label>
        <input name="companyName" ng-model="searchParams.recalling_firm">
      </md-input-container>
      <md-input-container flex="33" flex-sm="50">
        <label>Recall Start Date</label>
        <input name="recallStartDate" ng-model="searchParams.recallStartDate">
      </md-input-container>
      <md-input-container flex="33" flex-sm="50">
        <label>Recall End Date</label>
        <input name="recallEndDate" ng-model="searchParams.recallEndDate">
      </md-input-container>
      <md-input-container flex="33" flex-sm="50">
        <label>Product Type</label>
        <input name="productType" ng-model="searchParams.product_type">
      </md-input-container>
    </div>

    <div class="md-action" layout="row" layout-align="end center">
<!--       <md-button class="md-raised md-icon-button md-primary"
        ng-click="searchNearMe()"
        aria-label="Search Near Me">
        <md-tooltip>
          Search Near Me
        </md-tooltip>
        <md-icon class="fa fa-crosshairs fa-2x">
        </md-icon>
      </md-button> -->
      <md-button class="md-raised md-primary"
        ng-click="searchDisclaimer(searchParams)"
        aria-label="Search">
        Search
      </md-button>
    </div>
  </form>

  <md-divider></md-divider>
  
  <section>
    <md-card ng-repeat="item in recallData.results track by $index"
      ng-click="viewDetails(item)">
      <div ng-class="{ 'bg-danger': item.classification === 'Class I',
                    'bg-warning': item.classification === 'Class II',
                    'bg-success': item.classification === 'Class III' }"
                    style="padding:16px"
                    >
        <span class="sr-only">item.classification</span>
      </div>
      <md-card-content>
        <h2 class="md-title" style="margin-top:0px">{{item.recalling_firm}}</h2>
        <div><strong>Status:</strong> {{item.status}}</div>
        <div><strong>Date Initiated:</strong> {{item.recall_initiation_date}}</div>
        <div><strong>Product Description:</strong> {{item.product_description}}</div>
        <div>
          <strong class="clearfix">Reason For Recall:</strong>
          {{item.reason_for_recall}}
        </div>
      </md-card-content>
    </md-card>
  </section>

<!-- <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="recall-details">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">Recall Details</h1>
  </md-toolbar>
  <md-content layout-padding>
  </md-content>
</md-sidenav>
</md-content> -->


<footer align="right" style="font-size:12px;padding-right:5px;">The openFDA beta research project contents were last updated on {{recallData.meta.last_updated | date:'MMMM dd, yyyy'}}</footer>
