<nav class="navbar navbar-default navbar-fixed-top sf-header">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="base.home">
        <img src="../../../assets/images/logo.jpg" alt="Home" class="logo"/>
      </a>
    </div>
    <form class="navbar-form navbar-right col-xs-8 col-sm-4 hidden" role="search"  id="navSearchId" ng-submit="base.search(base.searchParams)">
      <div class="input-group">
        <input type="text" class="form-control" name="generalSearch" ng-model="base.searchParams.generalSearch" title="Search Terms" placeholder="example: Spinach MI">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="base.search(base.searchParams)" title="Search">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>  
  </div>
</nav>

<div ui-view="content">
</div>
<toast></toast>
<footer align="right" style="font-size:12px;padding-right:5px;">The openFDA beta research project contents were last updated on {{meta.last_updated | date:'MMMM dd, yyyy'}}</footer>